# Secrets
.env
config/brain.yml

# General files
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__
coverage.xml
data/
logs/

# gRPC/protobuf
generated/

# Draw.io trash
.$*drawio.bkp

# For local agent management
ralph.sh
/work-*/
