name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install Poetry
        run: pipx install poetry
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        env:
          BRAIN_RUN_INTEGRATION: "1"
          BRAIN_RUN_COVERAGE: "1"
        run: ./test.sh
